*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/appetizer_bg.png");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 30vh;
    margin-left: -20px;
}

h1{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   font-weight: bold;
}

img:hover{
    box-shadow: 2px 4px 4px grey;
}

.burrata{
    margin: 30px;

}

.burrata p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.burrata span{
    margin-left: 60px;
}

.burrata img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.caprese_skewer {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.caprese_skewer p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.caprese_skewer span{
    margin-left: 40px;
}

.caprese_skewer img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.rainbow_kebab {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.rainbow_kebab p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.rainbow_kebab span{
    margin-left: 40px;
}

.rainbow_kebab img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.burrata, .caprese_skewer, .rainbow_kebab{
    display: inline-block;
}

.dip{
    margin: 30px;

}

.dip p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.dip span{
    margin-left: 60px;
}

.dip img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.mushroom {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.mushroom p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.mushroom span{
    margin-left: 90px;
}

.mushroom img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.spring_roll {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.spring_roll p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.spring_roll span{
    margin-left: 70px;
}

.spring_roll img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dip, .mushroom, .spring_roll{
    display: inline-block;
}

.crostini{
    margin: 30px;

}

.crostini p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.crostini span{
    margin-left: 60px;
}

.crostini img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.garlic_bread {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.garlic_bread p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.garlic_bread span{
    margin-left: 70px;
}

.garlic_bread img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tomato_toast {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.tomato_toast p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.tomato_toast span{
    margin-left: 70px;
}

.tomato_toast img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.crostini, .garlic_bread, .tomato_toast{
    display: inline-block;
}

