*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/breakfast_bg.png");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 30vh;
    margin-left: -20px;
}

h1{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   font-weight: bold;
}

.chicken_salad{
    margin: 30px;

}

.chicken_salad p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.chicken_salad span{
    margin-left: 60px;
}

.chicken_salad img{
    width: 241px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.roasted_veggie{
    margin-left: 190px;
}


.roasted_veggie p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.roasted_veggie span{
    margin-left: 60px;
}

.roasted_veggie img{
    width: 223px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.green_fruits{
    margin-left: 190px;
}

.green_fruits p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.green_fruits span{
    margin-left: 60px;
}

.green_fruits img{
    width: 255px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chicken_salad, .roasted_veggie, .green_fruits{
    display: inline-block;
}

img:hover{
    box-shadow: 2px 4px 4px grey;
}
