*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/breakfast_bg.png");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 30vh;
    margin-left: -20px;
}

h1{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   font-weight: bold;
}

#chicken_salad{
    margin: 30px;

}

#chicken_salad p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#chicken_salad span{
    margin-left: 60px;
}

#chicken_salad img{
    width: 241px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#roasted_veggie{
    margin-left: 190px;
}


#roasted_veggie p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#roasted_veggie span{
    margin-left: 60px;
}

#roasted_veggie img{
    width: 240px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#green_fruits {
    margin-left: 190px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#green_fruits p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#green_fruits span{
    margin-left: 60px;
}

#green_fruits img{
    width: 255px;
    height: 202px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#chicken_salad, #roasted_veggie, #green_fruits{
    display: inline-block;
}

img:hover{
    box-shadow: 2px 4px 4px grey;
}

#fruit_salad{
    margin-left: 30px;

}

#fruit_salad p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#fruit_salad span{
    margin-left: 60px;
}

#fruit_salad img{
    width: 241px;
    height: 222px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#oatmeal{
    margin-left: 210px;

}

#oatmeal p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#oatmeal span{
    margin-left: 60px;
}

#oatmeal img{
    width: 250px;
    height: 222px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#blue_pancake{
    margin-left: 200px;
    margin-top: 0px;
    vertical-align: top; /* Align the top of the element with the tallest one in the row */
    clear: both; /* Clear previous floats to prevent them from affecting this element */

}

#blue_pancake p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#blue_pancake span{
    margin-left: 60px;
}

#blue_pancake img{
    width: 250px;
    height: 225px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#fruit_salad, #oatmeal, #blue_pancake{
    display: inline-block;
}

#strawberry_pancake{
    margin: 30px;
}


#strawberry_pancake p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#strawberry_pancake span{
    margin-left: 60px;
}

#strawberry_pancake img{
    width: 241px;
    height: 222px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#waffle{
    margin-left: 180px;
}

#waffle p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#waffle span{
    margin-left: 60px;
}

#waffle img{
    width: 255px;
    height: 222px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#egg_toast{
    margin-left: 200px;
}

#egg_toast p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#egg_toast span{
    margin-left: 90px;
}

#egg_toast img{
    width: 247px;
    height: 222px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#strawberry_pancake, #waffle, #egg_toast{
    display: inline-block;
}

/* For scroll bar */
/* Hide the track and buttons */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Set border-radius to round the edges */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* codes for previewing food items and adding to cart*/
.food-preview{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.food-preview .preview{
    display: none;
    padding: 10px;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.food-preview .preview.active{
    display: inline-block;
}

.food-preview .preview img{
    width: 103.3%;
    height: 280px;
    box-shadow: none;
    cursor: auto;
    padding: 0;
    margin: -10px;
}

.food-preview .preview .btn-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    right: 2px;
    top: 2px;
    position: absolute;
    color: red;
}

.food-preview .preview .btn-close:hover{
    opacity: 0.9px;
    background-color: lightgray;


}

.food-preview .preview .name, .food-preview .preview .price{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.food-preview .preview .price{
    margin-left: 200px;
}

.food-preview .preview .buttons{
    background: #D9D9D9;
    display: flex;
    align-items: center;
    width: 103.2%;
    border-radius: 0;
    margin-left: -10px;
    margin-bottom: -30px;
    text-align: center;
}

.food-preview .preview .buttons button, .food-preview .preview .buttons p{
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
.food-preview .preview .buttons p{
    margin-bottom: -10px;
    margin-right: -20px;
}


.food-preview .preview .buttons button.reduce{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #999999;
    color: #fff;
    margin-left: 20px;
}

.food-preview .preview .buttons button.increase{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #9DC284;
    color: #fff;
    margin-left: 20px;
}

.food-preview .preview .buttons button.cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 309px;
    background: orange;
    color: #fff;
    border-radius: 25px;
    border: none;
    height: 40px;
    margin-left: 20px;
    margin-bottom: -18px;
}


.food-preview .preview .buttons button.cart:hover{
    background: #96C087;
    color: #fff;
    border: none;
}

#f1 .price{
    margin-left: 280px;
}

#f2 .price{
    margin-left: 230px;
}

#f3 .price{
    margin-left: 330px;
}

#f4 .price{
    margin-left: 340px;
}

#f5 .price{
    margin-left: 350px;
}

#f6 .price{
    margin-left: 210px;
}

#f7 .price{
    margin-left: 240px;
}

#f8 .price{
    margin-left: 220px;
}

#f9 .price{
    margin-left: 310px;
}