*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
}

.btn btn-primary{
    position: absolute;
}


h6{
    color: #black;
}

.rating-container {
    text-align: center;
    margin: 50px;
}

.rating {
    font-size: 30px;
    cursor: pointer;
}

.star {
    display: inline-block;
    margin: 0 5px;
}

.star:hover,
.star.active {
    color: gold;
}