*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
}

.btn btn-primary{
    position: absolute;
    bottom: 10%;
}

#reviews-container {
    margin-top: 20px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#add-review-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#star-rating {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 50px;
    color: gray;
    margin-right: 5px;
}

.star:hover,
.star.active {
    color: gold;
}

h1{
text-align: center;
justify-content; center;
}

h4{
text-align: center;
justify-content; center;
}