*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/dinner_bg.png");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 30vh;
    margin-left: -20px;
}
h1{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   font-weight: bold;
}

/* For scroll bar */
/* Hide the track and buttons */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Set border-radius to round the edges */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img:hover{
    box-shadow: 2px 4px 4px grey;
}

.stir-fry{
    margin: 30px;

}

.stir-fry p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.stir-fry span{
    margin-left: 70px;
}

.stir-fry img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.zucchini {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.zucchini p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.zucchini span{
    margin-left: 50px;
}

.zucchini img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chickpeas {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.chickpeas p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.chickpeas span{
    margin-left: 40px;
}

.chickpeas img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.stir-fry, .zucchini, .chickpeas{
    display: inline-block;
}

.buddha_bowl{
    margin: 30px;

}

.buddha_bowl p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.buddha_bowl span{
    margin-left: 40px;
}

.buddha_bowl img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.turmeric_rice {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.turmeric_rice p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.turmeric_rice span{
    margin-left: 20px;
}

.turmeric_rice img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.miso_mushroom {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.miso_mushroom p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.miso_mushroom span{
    margin-left: 20px;
}

.miso_mushroom img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.buddha_bowl, .turmeric_rice, .miso_mushroom{
    display: inline-block;
}

.veg_bibimbap{
    margin: 30px;

}

.veg_bibimbap p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.veg_bibimbap span{
    margin-left: 70px;
}

.veg_bibimbap img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.noodles {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.noodles p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.noodles span{
    margin-left: 40px;
}

.noodles img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.vermicelli_noodle {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


.vermicelli_noodle p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


.vermicelli_noodle span{
    margin-left: 20px;
}

.vermicelli_noodle img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.veg_bibimbap, .noodles, .vermicelli_noodle{
    display: inline-block;
}