*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/homepage.png");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 40vh;
    margin-left: -20px;
}

.container-h1 h1{
   text-align: center;
   padding-top: 60px;
   font-size: 50px;
   font-weight: normal;

}

.bold{
    font-weight: bolder;
}

