*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Khula', sans-serif;
}


#mbrshipStatus{
   text-align: center
}


.container-header-greeting{
   width: 100%;
}


#currentBalance{
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 0px;
   border-radius: 10px;
    border: 0;
   outline: 0;
}


#currentBalance-fetch {
   width: 80px;
 background-color: #83A68D;
 border-radius: 10px;
 color: #fff;
 font-weight: 800;
 font-size: 20px;
 text-align: center;
 border: 0;
 outline: 0;
 padding: 10px;
 text-decoration: none;
}


.p-css{
   font-weight: bold
}


h3{
  font-weight: bold
}


span{
   font-weight: 900;
}


.terms-container-left{
   width: 45%;
   float: left;
   padding: 15px;
   margin: 20px;
   height: 200vh;


}


.terms-container-right{
   width: 45%;
   float: left;
   padding: 15px;
   margin: 20px;
   height: 200vh;
   }




.container-membership-status{
   background: #DBECDD;
   padding: 20px;
   border-radius: 10px;
   height: 70vh
}


.membershipTier {
   font-size: 30px;
}


.TotalEarned{
   font-size: 25px;
}




button.membership-tier-benefits, button.settings, button.redemption-shop-button{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 0px;
   border-radius: 10px;
    border: 0;
   outline: 0;
   }


a, a:hover {
   text-decoration:none;
   color: #fff
}




.membershipBenefits, .link-settings, #redeemRewards{
 background-color: #83A68D;
 border-radius: 10px;
 color: #fff;
 font-weight: 500;
 font-size: 1.125rem;
 text-align: center;
 border: 0;
 outline: 0;
 width: 100%;
 padding: 0.625em 0.75em;
 text-decoration: none;
}






.membershipBenefits:hover, .membershipBenefits:focus , .link-settings:hover, .link-settings:focus, #redeemRewards:hover, #redeemRewards:focus{
 background-color:  #60856b;


}




.membership-details-box{
   border-radius: 10px;
   background: #DBECDD;
   padding: 20px 10px 20px 10px;
   margin: 5px;
}


.mbrship-details-words1 {
   positionL absolute;
   top: 80%;
   padding: 5px;
   margin: 5px;
}


.mbrship-details-words2 {
   positionL absolute;
   top: 80%;
   padding: 5px;
   margin: 5px;
}


.mbrship-details-words3 {
   positionL absolute;
   top: 80%;
   padding: 5px;
   margin: 5px;
}


.arrow-icon {
 width: 1rem;
 height: 1rem;
 vertical-align: middle;
 margin-right: 0.5rem;
 position: absolute
   left: 30
   top: 0
   padding: 5px;
   margin: 5px;
}


a.membership-details{
   padding-top: 10px
   border: 5px;
   border-color: #0A0706;
   font-weight: 900;
   color: #263238;
   text-decoration: underline
   text-decoration-colour: #032700
   width: 100%;
   margin: 10px;
}


.balance-text-container{
   padding: 5px;
   border-radius: 10px;
   background: #DBECDD;
}


.container-membership-balance{
   padding: 20px;
   border-radius: 10px;
   background: #DBECDD;
}


.balance-text-container{
   width: 50%
   float: left;
   padding: 15px;
   margin-bottom: 20px;
   margin-right: 20px;
}






#membershipShop{
   color: #ffffff;
}


#balance{
   font-size: 30px;
}


.dark-green-text{
   color: #032700;
}


.rewards-list{
   background-color: #75A077;
}


.rewards-list-item{
   color: #ffffff;
}


.RewardBox1{
   background: #75A077;
   padding: 20px;
}


.dark-box-words{
   color: #ffffff;
}


.actionButton {
 display: inline-block;
 background-color: #333;
 color: #fff;
 padding: 0.5rem 1rem;
 border-radius: 5px;
 text-decoration: none;
 margin-right: 1rem;
 margin-bottom: 1rem;
}


.leaf-icon {
 width: 2rem;
 height: 2rem;
 vertical-align: middle;
 margin-right: 0.5rem;
}


.large-text {
   font-size: 25px
}


.progress-bar {
   width: 100%;
   border-radius: 10px;
   color: #56765f
 }


 progress::-webkit-progress-bar {
   width: 100%;
   border-radius: 10px;
 }
