*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
}

.welcome-bar{
    background-color: #032700;
    width: 100%;
}

.welcome-bar img{
    width: 70px;
    height: 60px;
    margin-top: -15px;
}

.welcome-bar span{
    text-align: center; /* text align center doesnt work */
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    color: #fff;
}

nav{
    position: relative;
    background-color: #D3EACC;
}

.navbar-custom .navbar-nav .nav-link{
    color: #073100;
    font-weight: bold;
    padding-right: 50px;
}


.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-color: #F6B328; /* Customize the color of the hamburger icon */
}



.dropdown-menu{
    text-align: center;
    padding: 0;
    border-radius: 3px;

}

#recommended{
    background-color: #FFD8C2;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

#appetizers{
    background-color: #FCA878;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

#breakfast{
    background-color: #FFD8C2;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

#lunch{
    background-color: #FCA878;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

#dinner{
    background-color: #FFD8C2;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

#dessert{
    background-color: #FCA878;
    font-weight: bold;
    border-bottom: 1px solid #000;
}
