.review{
border: 3px solid #9CAF88;
padding: 10px;
margin: 20px;
border-radius: 5px;
width: 800px;
word-wrap: break-word;
font-size: 20px;
z-index: 1000;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}

h4{
text-align: center;
font-size: 40px;
}

h5{
text-align: center;
}

.checked-star{
color: gold;
font-size: 30px;
}

.reviews-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1000;
}

.header{
margin-top: 30px;
letter-spacing: 2px;
font-size: 30px;
font-weight: 500;
text-align: center;
}