*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans serif;
}

body {
    overflow-x: hidden; /* initially there was a scroll bar horizontally at the bottom
    due to the image stretching. to change that this code is needed */
}

.container-h1{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/recommended_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 104vw;
    height: 30vh;
    margin-left: -20px;
}

h1{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   font-weight: bold;
}

/* For scroll bar */
/* Hide the track and buttons */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Set border-radius to round the edges */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img:hover{
    box-shadow: 2px 4px 4px grey;
    cursor: pointer;
}

#burrata{
    margin: 30px;

}

#burrata p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#burrata span{
    margin-left: 60px;
}

#burrata img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#crostini {
    margin-left: 200px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#crostini p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#crostini span{
    margin-left: 60px;
}

#crostini img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#roasted_veggie {
    margin-left: 250px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#roasted_veggie p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#roasted_veggie span{
    margin-left: 40px;
}

#roasted_veggie img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#burrata, #crostini, #roasted_veggie{
    display: inline-block;
}

#blue_pancake{
    margin: 30px;

}

#blue_pancake p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#blue_pancake span{
    margin-left: 20px;
}

#blue_pancake img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#mushroom_rice {
    margin-left: 200px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#mushroom_rice p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#mushroom_rice span{
    margin-left: 60px;
}

#mushroom_rice img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#avocado {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#avocado p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#avocado span{
    margin-left: 40px;
}

#avocado img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#blue_pancake, #mushroom_rice, #avocado{
    display: inline-block;
}

#chickpeas{
    margin: 30px;

}

#chickpeas p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#chickpeas span{
    margin-left: 50px;
}

#chickpeas img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#miso_mushroom {
    margin-left: 220px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#miso_mushroom p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#miso_mushroom span{
    margin-left: 20px;
}

#miso_mushroom img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#vanilla_panna_cotta {
    margin-left: 230px;
    margin-top: 30px;
    vertical-align: top;
    display: block;
    clear: both;
    align-self: flex-start;
}


#vanilla_panna_cotta p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


#vanilla_panna_cotta span{
    margin-left: 70px;
}

#vanilla_panna_cotta img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#chickpeas, #miso_mushroom, #vanilla_panna_cotta{
    display: inline-block;
}

#butterfly_pea_flower{
    margin: 30px;

}

#butterfly_pea_flower p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#butterfly_pea_flower span{
    margin-left: 70px;
}

#butterfly_pea_flower img{
    width: 220px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* codes for previewing food items and adding to cart*/
.food-preview{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
}

.food-preview .preview{
    display: none;
    padding: 2rem;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.food-preview .preview.active{
    display: inline-block;
}

.food-preview .preview img{
    height: 50px;
}

.food-preview .preview .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.food-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}

.food-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}

.food-preview .preview span{
    margin-left: 1050px;
}

.food-preview .preview .buttons{
    background: #D9D9D9;
    display: flex;
    align-items: center;
    width: 100%;
}

.food-preview .preview .buttons button, .food-preview .preview .buttons p{
    margin: 0;
    padding: 10px;
    font-size: 1.8rem;
    text-decoration: none;
}



.food-preview .preview .buttons button.reduce{
    width: 54px;
    height: 52px;
    border-radius: 50%;
    border: none;
    background: #999999;
    color: #fff;
    margin-left: 20px;
}

.food-preview .preview .buttons button.increase{
    width: 54px;
    height: 52px;
    border-radius: 50%;
    border: none;
    background: #9DC284;
    color: #fff;
    margin-left: 20px;
}

.food-preview .preview .buttons button.cart{
    flex: 40 40 60px;
    background: orange;
    color: #fff;
    border-radius: 25px;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.food-preview .preview .buttons button.cart:hover{
    background: #96C087;
    color: #fff;
    border: none;
}

