:root {
  --table-cell-padding-y: .5rem;
  --table-cell-padding-x: .5rem;
  --table-cell-padding-y-sm: .25rem;
  --table-cell-padding-x-sm: .25rem;

  --table-cell-vertical-align: top;

  --table-color: var(--#{$prefix}emphasis-color);
  --table-bg: var(--#{$prefix}body-bg);
  --table-accent-bg: transparent;

  --table-th-font-weight: null;

  --table-striped-color: var(--table-color);
  --table-striped-bg-factor: .05;
  --table-striped-bg: rgba(var(--#{$prefix}emphasis-color-rgb), var(--table-striped-bg-factor));

  --table-active-color: var(--table-color);
  --table-active-bg-factor: .1;
  --table-active-bg: rgba(var(--#{$prefix}emphasis-color-rgb), var(--table-active-bg-factor));

  --table-hover-color: var(--table-color);
  --table-hover-bg-factor: .075;
  --table-hover-bg: rgba(var(--#{$prefix}emphasis-color-rgb), var(--table-hover-bg-factor));

  --table-border-factor: .2;
  --table-border-width: var(--#{$prefix}border-width);
  --table-border-color: var(--#{$prefix}border-color);

  --table-striped-order: odd;
  --table-striped-columns-order: even;

  --table-group-separator-color: currentcolor;

  --table-caption-color: var(--#{$prefix}secondary-color);

  --table-bg-scale: -80%;
}

/* Basic reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-weight: bold;
}

.table thead {
  background-color: #D3EACC;
  color: black;
}

.table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}


.table a {
color:rgb(69,69,69);}

.table {
border: 1px solid black;
}

table {
border-radius:15px;}
