.container{
width: 700px;
height: 550px;
top: 60%;
left: 50%;
bottom: 5%;
position: absolute;
transform: translate(-50%, -50%);
background: #bbbbbb
}

.star-rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.checked{
color: orange;
}