.container1{
width: 700px;
height: 550px;
top: 59%;
left: 30%;
position: absolute;
transform: translate(-50%, -50%);
background: #e4e4e4;
border: 10px solid #e4e4e4;
border-radius: 10px;
}

.container2{
width: 700px;
height: 550px;
top: 59%;
left: 70%;
position: absolute;
transform: translate(-50%, -50%);
background: #e4e4e4;
border: 10px solid #e4e4e4;
border-radius: 10px;
}

.star-rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.checked{
color: orange;
}