.container{
width: 50px;
height: 380px;
border: solid;
border-color: #bbbbbb
padding-top: 60px;
padding-bottom: 20px;
padding-left: 20px;
position: absolute;
}

.star-rating{
    width: 100px;
    height: 100px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.checked{
color: orange;
}