<!-- font for the nav bar -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbarAdmin.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
<script src="https://kit.fontawesome.com/ea5763dd29.js" crossorigin="anonymous"></script>

<!-- font for the welcome bar -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Marck+Script&family=Nova+Square&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "350px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>

<div class="header">
    <a href="{{ url_for('home') }}">
        <div class="welcome-bar">
            <img src="static/img/Logo.png">
            <span>EcoEats</span>
        </div>
    </a>

    <div class="dashboardBar">
        <span>Staff Management System</span>

<!--        <a href="/profile">-->
<!--            <div class="profile">-->
<!--                <i class="fa-solid fa-user"></i>-->
<!--            </div>-->
<!--        </a>-->
        <div onclick="openNav()" class="profile">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
</div>

<body>
<div class="main">
    <div class="sidebar">

        <div id="sidebarUser">
<!--            <span class="dot"></span>-->
            <div class="welcome-text">
                {% if 'user_id' in session %}
                <span><img id="pfp" src="{{ User.User.get_profilePic_by_id(session['user_id']) }}" ></span>
                {% else %}
                <span><img src="{{ url_for('static', filename='img/Logo1.png') }}" alt="Default Profile Picture" style="max-width: 35px; max-height: 35px;"></span>
                {% endif %}
            </div>
            <div class="welcome-text">
                {% if 'user_id' in session %}
                <p>Welcome, <span>{{ User.User.get_username_by_id(session['user_id']) }}</span>! <a
                        href="{{ url_for('logout') }}">Logout</a></p>
                {% else %}
                <p>Not logged in. <a href="{{ url_for('login') }}">Login</a></p>
                {% endif %}
            </div>
        </div>

        <hr>

        <div id="siderbarMain">


            <h2>Home</h2>
            <br>
            <a href="/dashboard">Dashboard</a>
            <br>
            <a href="/chart">Sales</a>
            <br>

            <a href="/retrieve_product">Products</a>

            <hr>

            <ul>
                <h2>Others</h2>
                <li>
                    <a href="/retrieveUser">Customers</a>
                </li>
                <li>
                    <a href="/retrieveStaff">Staff</a>
                </li>
                <li class="nav-item">
                    <a href="/retrieveMembershipAdmin">Memberships</a>
                </li>
            </ul>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h3>sidebar</h3>
    </div>

<!--    <div class="mainBody">-->
<!--        <p>navbaradmin</p>-->
<!--        <h2>mainBody</h2>-->
<!--    </div>-->
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="username-container">
    {% if 'user_id' in session %}
      {% if User is defined %}
        <p>Welcome, {{ User.User.get_username_by_id(session['user_id']) }}!</p>
      {% else %}
        <p>Welcome, User is not defined. </p>
      {% endif %}
    {% else %}
      <p>Not logged in. <a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}
  </div>
  <a href="/profile" id="profile">Profile</a>
  <a href="/display-purchased" id="purchase-history">Purchase History</a>
  <a href="#" id="settings">Settings</a>
  <a href="/logout" id="logout">Logout</a>
</div>
</body>