<!-- font for the nav bar -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ea5763dd29.js" crossorigin="anonymous"></script>

<!-- font for the welcome bar -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Marck+Script&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<!-- javascript for cart -->
<script src="{{ url_for('static', filename='javascript/cart.js') }}" defer></script>

<div class="welcome-bar">
        <img src="static/img/Logo.png">
        <span>Welcome to EcoEats</span>
</div>


<nav class="navbar navbar-expand-sm bg-custom navbar-custom">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu</a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" id="recommended" href="/recommended">Recommended</a>
            <a class="dropdown-item" id="appetizers" href="/appetizers">Appetizers</a>
            <a class="dropdown-item" id="breakfast" href="/breakfast">Breakfast</a>
            <a class="dropdown-item" id="lunch" href="/lunch">Lunch</a>
            <a class="dropdown-item" id="dinner" href="/dinner">Dinner</a>
            <a class="dropdown-item" id="dessert" href="/dessert">Dessert</a>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createMembership">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createRewards">(Test) Rewards</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/reviews">Review</a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" id="add-review" href="/createReviews">Add Review</a>
          </ul>
        </li>

      </ul>
    </div>

    <div class="cart">
      <a class="nav-link" href="/cart"><i class="fa-solid fa-basket-shopping"></i></a>
      <span id="quantity" class="quantity">0</span>
    </div>

    <a href="/profile">
      <div class="profile">
        <i class="fa-solid fa-user"></i>
      </div>
    </a>

  </div>
</nav>