{% extends 'base.html' %}
{% block title %}Breakfast{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('Static', filename='css/breakfast.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Breakfast</h1>
</div>

<div class="chicken_salad">
<img src="Static/img/breakfast/chicken_salad.png" alt="Poached Chicken Salad">
<p>Poached Chicken Salad</p><p>S$ 6.00</p>
</div>

<div class="roasted_veggie">
    <img src="Static/img/breakfast/egg_roasted_veggie_salad.png" alt="Egg & Roasted Veggie Salad">
    <p>Egg & Roasted Veggie Salad</p>
    <p>S$ 6.90</p>
</div>

{% endblock %}
