{% extends 'base.html' %}
{% block title %}Breakfast{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/breakfast.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Breakfast</h1>
</div>

<div class="chicken_salad">
<img src="static/img/breakfast/chicken_salad.png" alt="Poached Chicken Salad">
<p>Poached Chicken <span>S$ 6.00</span><br>
    Salad </p>
</div>

<div class="roasted_veggie">
    <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
    <p>Egg & Roasted <span>S$ 6.90</span> <br> Veggie Salad </p>
</div>

<div class="green_fruits">
    <img src="static/img/breakfast/green_fruits.png" alt="Green Fruits Salad">
    <p>Green Fruits Salad <span>S$ 6.90</span> </p>
</div>


{% endblock %}
