{% extends 'base.html' %}
{% block title %}Breakfast{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/breakfast.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Breakfast</h1>
</div>

<div class="chicken_salad">
<img src="static/img/breakfast/chicken_salad.png" alt="Poached Chicken Salad">
<p>Poached Chicken <span>S$ 6.00</span><br>
    Salad </p>
</div>

<div class="roasted_veggie">
    <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
    <p>Egg & Roasted <span>S$ 6.90</span> <br> Veggie Salad </p>
</div>

<div class="green_fruits">
    <img src="static/img/breakfast/green_fruits.png" alt="Green Fruits Salad">
    <p>Green Fruits Salad <span>S$ 6.90</span> </p>
</div>

<div class="fruit_salad">
    <img src="static/img/breakfast/fruit_salad.png" alt="Classic Fruit Salad">
    <p>Classic Fruit Salad <span>S$ 6.60</span> </p>
</div>

<div class="oatmeal">
    <img src="static/img/breakfast/fruits_oatmeal.png" alt="Fruits & Oatmeal">
    <p>Fruits & Oatmeal <span>S$ 5.90</span> </p>
</div>

<div class="blue_pancake">
    <img src="static/img/breakfast/blueberry_pancake.png" alt="Banana & Blueberry Pancakes">
    <p>Banana & Blueberry <span>S$ 6.00</span> <br> Pancakes </p>
</div>

<div class="strawberry_pancake">
    <img src="static/img/breakfast/strawberry_pancake.png" alt="Strawberry Jam Pancakes">
    <p>Strawberry & Jam <span>S$ 6.00</span> <br> Pancakes </p>
</div>

<div class="waffle">
    <img src="static/img/breakfast/waffle.png" alt="Raspberries & Cream Waffles">
    <p>Raspberries & <span>S$ 6.10</span> <br> Cream Waffles </p>
</div>

<div class="egg_toast">
    <img src="static/img/breakfast/egg_toast.png" alt="Avocado & Egg Toast">
    <p>Avocado & <span>S$ 5.50</span> <br> Egg Toast </p>
</div>

{% endblock %}
