{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<style>
    .order-type {
    background: #96C087;
    border: 2px solid #96C087;
    border-radius: 4px;
    width: 100%;
}
.order-type a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-weight: bolder;
}



</style>

<table class="table table-striped">
       <tbody>
        {% for item in cart_items %}
            <tr>
                <td>
                {% if item.get_image() %}
                    <img src="{{ url_for('static', filename='img/' + item.get_image()) }}" alt="{{ item.get_name() }} Image" width="150" height="150">
                {% else %}
                    No Image
                {% endif %}

            </td>

                <td style="font-weight: bolder;">{{ item.get_name() }}</td>

                {% if item.get_price() and item.get_quantity() %}
                    <td style="font-weight: bolder;">${{ item.get_price() * item.get_quantity() }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>

                    <form action="{{ url_for('update_cart', product_id=item.get_name()) }}" method="post">
                        <input type="hidden" name="product_id" value="{{ item.get_name() }}">
                        <input style="width: 50px;" type="number" name="quantity" value="{{ item.get_quantity() }}" min="1">
                    </form>

                </td>

                 <td>
                    <form action="{{ url_for('remove_from_cart') }}" method="post">
                        <input type="hidden" name="product_id" value="{{ item.get_name() }}">
                        <button type="submit" class="btn btn-danger">Delete Item</button>
                    </form>
                    </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="recommended" style="color: grey;">+ Add More Items</a>
<h5 style="font-weight: bolder;">Total Price: ${{ total_price }}</h5>

<div class="order-type">
    <a href="create-checkout-session">CHECKOUT</a>
</div>

{% endblock %}