{% extends "baseAdmin.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/_navbarAdmin.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet">

<div class="main">
    <div class="mainBody">
        <h2>Sales</h2>



        <h4>Report</h4>
    <div>

        <div>
        {% if chart %}
                {{ chart | safe }}
            {% else %}
                <p>No chart available.</p>
            {% endif %}
        </div>
        <div>
            {{ chart1 | safe }}
        </div>
        <div>
            {{ chart2 | safe }}
        </div>
        <div>
            {{ chart3 | safe }}
        </div>
        <div>
            {{ chart4 | safe }}
        </div>
        <div>
            {{ chart5 | safe }}
        </div>
<!--        <div>-->
<!--            <h2>Product Prices Chart</h2>-->
<!--            {{ chart_prices | safe }}-->
<!--        </div>-->

<!--        <div>-->
<!--            <h2>Total Revenue by Product</h2>-->
<!--            {{ chart_revenues | safe }}-->
<!--        </div>-->
    </div>

    </div>
</div>


{% endblock %}
