{% extends 'base.html' %}
{% block title %}Cart- Collection{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<table class="table table-striped">
    <tbody>
        {% for item in cart_items %}
            <tr>
                <td>
                    {% if item.get_image() %}
                        <img src="{{ url_for('static', filename='img/' + item.get_image()) }}" alt="{{ item.get_name() }} Image" width="150" height="150">
                    {% else %}
                        No Image
                    {% endif %}
                    {{ item.get_name() }}
                </td>
                <td>{{ item.get_quantity() }}</td>
                {% if item.get_price() is not none and item.get_quantity() is not none %}
                    <td>${{ item.get_price() * item.get_quantity() }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Subtotal: ${{ total_price }}</p>
<br>
<p>Total: ${{ total_price }}</p>

<button><a href="delivery_finished">Proceed to Pay</a></button>

{% endblock %}