{% extends "base.html" %} <!-- to call the parent class-->
{% block title %}Library Loan System - Home{% endblock %} <!--when calling parent class,parent class title block will look for this code to get the title to display on the browser-->

{% block content %}
<h1 class="display-4">Contact Us</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DSF">DSF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="DCS">DCS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="DBFT">DBFT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="CIP">CIP</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="DIT">
    <br>
    <h2>IT1166 App Development Project</h2>
    <br>
    <table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
</thead>
      <tbody>
<tr>
<td>Mr. Faris Foo</td>
<td>Module Leader</td>
<td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Andy Lee</td>
<td>Module Tutor</td>
<td><a href="mailto:andy.lee314@u.nus.edu">andy.lee314@u.nus.edu</a></td>
</tr>
<tr>
<td>Mr. Koh Wing Onn</td>
<td>Module Tutor</td>
<td><a
href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Mar Kheng Kok</td>
<td>Module Tutor</td>
<td><a href="mailto:mar_kheng_kok@nyp.edu.sg">mar_kheng_kok@nyp.edu.sg</a></td>
</tr>
</tbody>
</table>
  </div>
  <div class="tab-pane container-fluid fade" id="DSF">
    <br>
    <h2>IT1566 App Development Project</h2>
    <br>
    <table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
</thead>
      <tbody>
<tr>
<td>Mr. Faris Foo</td>
<td>Module Leader</td>
<td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Andy Lee</td>
<td>Module Tutor</td>
<td><a href="mailto:andy.lee314@u.nus.edu">andy.lee314@u.nus.edu</a></td>
</tr>
<tr>
<td>Mr. Koh Wing Onn</td>
<td>Module Tutor</td>
<td><a
href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Mar Kheng Kok</td>
<td>Module Tutor</td>
<td><a href="mailto:mar_kheng_kok@nyp.edu.sg">mar_kheng_kok@nyp.edu.sg</a></td>
</tr>
</tbody>
</table>
  </div>
   <div class="tab-pane container-fluid fade" id="DCS"><br>
    <h2>IT1666 App Development Project</h2>
    <br>
    <table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
</thead>
      <tbody>
<tr>
<td>Mr. Faris Foo</td>
<td>Module Leader</td>
<td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Andy Lee</td>
<td>Module Tutor</td>
<td><a href="mailto:andy.lee314@u.nus.edu">andy.lee314@u.nus.edu</a></td>
</tr>
<tr>
<td>Mr. Koh Wing Onn</td>
<td>Module Tutor</td>
<td><a
href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Mar Kheng Kok</td>
<td>Module Tutor</td>
<td><a href="mailto:mar_kheng_kok@nyp.edu.sg">mar_kheng_kok@nyp.edu.sg</a></td>
</tr>
</tbody>
</table>
  </div>
   <div class="tab-pane container-fluid fade" id="DBFT">
     <br>
    <h2>IT1866 App Development Project</h2>
    <br>
    <table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
</thead>
      <tbody>
<tr>
<td>Mr. Faris Foo</td>
<td>Module Leader</td>
<td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Andy Lee</td>
<td>Module Tutor</td>
<td><a href="mailto:andy.lee314@u.nus.edu">andy.lee314@u.nus.edu</a></td>
</tr>
<tr>
<td>Mr. Koh Wing Onn</td>
<td>Module Tutor</td>
<td><a
href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Mar Kheng Kok</td>
<td>Module Tutor</td>
<td><a href="mailto:mar_kheng_kok@nyp.edu.sg">mar_kheng_kok@nyp.edu.sg</a></td>
</tr>
</tbody>
</table>
  </div>
  <div class="tab-pane container-fluid fade" id="CIP">
     <br>
    <h2>IT1966 App Development Project</h2>
    <br>
    <table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
<th>Email</th>
</tr>
</thead>
      <tbody>
<tr>
<td>Mr. Faris Foo</td>
<td>Module Leader</td>
<td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Andy Lee</td>
<td>Module Tutor</td>
<td><a href="mailto:andy.lee314@u.nus.edu">andy.lee314@u.nus.edu</a></td>
</tr>
<tr>
<td>Mr. Koh Wing Onn</td>
<td>Module Tutor</td>
<td><a
href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
</tr>
<tr>
<td>Mr. Mar Kheng Kok</td>
<td>Module Tutor</td>
<td><a href="mailto:mar_kheng_kok@nyp.edu.sg">mar_kheng_kok@nyp.edu.sg</a></td>
</tr>
</tbody>
</table>
  </div>
{% endblock %}