{% extends "base.html" %}
{% block title %}Create Review{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/createReviews.css')}}">
<script src="{{ url_for('static', filename='javascript/stars.js') }}" defer></script>
{% from "includes/_formHelper.html" import render_field %}
<h1>Feedback to Us</h1>
<h4>We Want To Hear From You</h4>

<div class="rectangle">
<form id="add-review-form" action="{{ url_for('create_reviews') }}" method="POST" class="forms">
        <label for="add-review-form" class="name-label">Name:</label>
        {{ form.name(placeholder="Enter Your Name") }}

        <label for="add-review-form" class="email-label">Email:</label>
        {{ form.email(placeholder="Enter Your Email") }}

        <label for="add-review-form" class="star-label">Stars:</label>
        <div id="star-rating">
            <input type="hidden" name="stars" id="stars-input" value="0">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>

        <label for="add-review-form" class="feedback-label">Feedback:</label>
        {{ form.feedback(placeholder="Enter Feedback") }}

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{%endblock%}