{% extends "base.html" %}
{% block title %}Create Review{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/createReviews.css')}}">
<script src="{{ url_for('static', filename='javascript/stars.js') }}" defer></script>
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Feedback to Us!</h1>
<h4>We want to hear from you!</h4>

<form id="add-review-form" action="{{ url_for('create_reviews') }}" method="POST">
        <label for="add-review-form">Name:</label>
        {{ form.name() }}

        <label for="add-review-form">Email:</label>
        {{ form.email() }}

        <label for="add-review-form">Stars:</label>
        <div id="star-rating">
            <input type="hidden" name="stars" id="stars-input" value="0">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>

        <label for="add-review-form">Feedback:</label>
        {{ form.feedback() }}

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
