{% extends "baseAdmin.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/_navbarAdmin.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet">

<style>


    .graph_chart {
    display:flex;
    background-color:
    }

    .graphs {
    margin: 10px;
    background-color:f9f9f9;
    border-radius:12px;
    padding:10px;}

</style>

<body>

<div class="main">


    <div class="mainBody">

        <h2>Dashboard</h2>


        <h3>Report</h3>
        <div class="graph_chart">

            <div class="graphs">
                {{ chart4 | safe }}
            </div>
            <div class="graphs">
                {{ chart5 | safe }}
            </div>

        </div>

        <div>
            <h1 class="display-4">Retrieve Users for Admin</h1>
            <div>
                <table>
                    {% for review in reviews %}
                    <td>
                        <div class="review">
                            <p><strong>User ID:</strong> {{ review[0] }}</p>
                            <p><strong>Name:</strong> {{ review[1] }}</p>
                            <p><strong>Email:</strong> {{ review[2] }}</p>
                            <p><strong>Stars (1-5):</strong></p>
                            {% for i in range(1, review[3]+1) %}
                            <span class="checked-star">&#9733;</span>
                            {% endfor %}
                            <p><strong>Feedback:</strong> {{ review[4] }}</p>
                        </div>
                    </td>
                    <td><a href="/updateReviews/{{ review[0] }}" class="actionButton"><i
                            class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="/deleteReviews/{{ review[0] }}" class="actionButton"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    {% endfor %}
                </table>
            </div>
        </div>


    </div>


</div>

</body>


{% endblock %}