{% extends 'base.html' %}
{% block title %}Dessert{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dessert.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Dessert</h1>
</div>

<div class="vanilla_panna_cotta">
<img src="static/img/dessert/vanilla_panna_cotta.png" alt="Classic Vanilla Panna Cotta">
<p>Classic Vanilla <span>S$ 4.00</span><br>Panna Cotta </p>
</div>

<div class="rasp_choco_mousse">
<img src="static/img/dessert/rasp_choco_mousse.png" alt="Raspberry Chocolate Mousse">
<p>Raspberry Chocolate <span>S$ 4.00</span><br>Mousse </p>
</div>

<div class="mango_cake">
<img src="static/img/dessert/mango_cake.png" alt="Mango Cheese Cake">
<p>Mango Cheese Cake <span>S$ 4.20</span> </p>
</div>

<div class="berry_tart">
<img src="static/img/dessert/berry_tart.png" alt="Blueberry Tart">
<p>Blueberry Tart <span>S$ 4.00</span> </p>
</div>

<div class="butterfly_pea_flower">
<img src="static/img/dessert/butterfly_pea_flower.png" alt="Butterfly Pea Flower Pudding">
<p>Butterfly Pea <span>S$ 4.60</span><br>Flower Pudding </p>
</div>

<div class="pandan_cake">
<img src="static/img/dessert/pandan_cake.png" alt="Coconut Pandan Cake">
<p>Coconut Pandan  <span>S$ 4.50</span><br>Cake </p>
</div>

<div class="rose_tart">
<img src="static/img/dessert/rose_tart.png" alt="Rose Tart">
<p>Rose Tart  <span>S$ 4.20</span> </p>
</div>

<div class="mini_ice_cream">
<img src="static/img/dessert/mini_ice_cream.png" alt="Mini Ice Cream Cake">
<p>Mini Ice Cream  <span>S$ 3.90</span><br>Cake </p>
</div>

<div class="pistachio">
<img src="static/img/dessert/pistachio.png" alt="Pistachio Ice Cream">
<p>Pistachio Ice  <span>S$ 3.90</span><br>Cream </p>
</div>

{% endblock %}