{% extends 'base.html' %}
{% block title %}Cart- Dine In{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<table class="table table-striped">
    <tbody>
        {% for item in cart_items %}
            <tr>
                <td>
                    {% if item.get_image() %}
                        <img src="{{ url_for('static', filename='img/' + item.get_image()) }}" alt="{{ item.get_name() }} Image" width="150" height="150">
                    {% else %}
                        No Image
                    {% endif %}
                    {{ item.get_name() }}
                </td>
                <td>{{ item.get_quantity() }}</td>
                {% if item.get_price() and item.get_quantity() %}
                    <td>${{ item.get_price() * item.get_quantity() }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Subtotal: ${{ total_price }}</p>
<br>
<p>Total: ${{ total_price }}</p>

    <!-- Display Dine-In Details -->
<p>Dine-In Details:</p>
{% if dine_in.get_time() and dine_in.get_pax() %}
    <p>Time: {{ dine_in.get_time() }}</p>
    <p>Pax: {{ dine_in.get_pax() }}</p>
{% else %}
    <p>No Dine-In Details Available</p>
{% endif %}


<form method="post" action="/dine_in">


    <!-- Your form fields go here -->
    <div class="form-group">
        {{ render_field(form.time, class="form-control") }}
    </div>

    <div class="form-group">
        {{ render_field(form.pax, class="form-control") }}
    </div>

    <div style="margin-top: 10px;">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>

<div class="payment_method">

</div>

<button><a href="dine_in_finished">Proceed to Pay</a></button>


{% endblock %}
