{% extends 'base.html' %}
{% block title %}Dinner{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dinner.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Dinner</h1>
</div>

<div class="stir-fry">
<img src="static/img/dinner/stir-fry.png" alt="Veg Pumpkin Stir Fry">
<p>Veg Pumpkin  <span>S$ 5.10</span> <br>Stir Fry</p>
</div>

<div class="zucchini">
<img src="static/img/dinner/zucchini.png" alt="Creamy Zucchini Pesto">
<p>Creamy Zucchini  <span>S$ 4.90</span> <br>Pesto</p>
</div>

<div class="chickpeas">
<img src="static/img/dinner/chickpeas.png" alt="Rice With Maple Sriracha Chickpeas & Broccoli">
<p>Rice With Maple  <span>S$ 5.10</span> <br>Sriracha Chickpeas & Broccoli</p>
</div>

<div class="buddha_bowl">
<img src="static/img/dinner/buddha_bowl.png" alt="Veg Buddha Bowl">
<p>Veg Buddha Bowl  <span>S$ 4.50</span> </p>
</div>

<div class="turmeric_rice">
<img src="static/img/dinner/turmeric_rice.png" alt="Turmeric Cauliflower Rice With Chickpeas & Hummus">
<p>Turmeric Cauliflower Rice  <span>S$ 5.00</span><br>With Chickpeas & Hummus </p>
</div>

<div class="miso_mushroom">
<img src="static/img/dinner/miso_mushroom.png" alt="Miso Mushroom Bowl">
<p>Miso Mushroom Bowl <span>S$ 4.90</span> </p>
</div>

<div class="veg_bibimbap">
<img src="static/img/dinner/veg_bibimbap.png" alt="Veg Bibimbap">
<p>Veg Bibimbap <span>S$ 4.30</span> </p>
</div>

<div class="noodles">
<img src="static/img/dinner/noodles.png" alt="Peanut Tofu Noodle Bowl">
<p>Peanut Tofu Noodle<span>S$ 4.00</span><br> Bowl </p>
</div>

<div class="vermicelli_noodle">
<img src="static/img/dinner/vermicelli_noodle.png" alt="Vermicelli Noodle Bowl">
<p>Vermicelli Noodle Bowl<span>S$ 4.50</span> </p>
</div>


{% endblock %}