{% extends 'base.html' %}
{% block title %}Lunch{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lunch.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
<script src="{{ url_for('static', filename='javascript/recommended.js') }}" defer></script>


<div class="container-h1">
<h1>Lunch</h1>
</div>

<div class="food-container">

<div class="food" id="kale_pasta" data-name="f-1">
<img src="static/img/lunch/kale_pasta.png" alt="Pesto Pasta With Kale">
<p> Pesto Pasta  <span>S$ 6.60</span> <br> With Kale</p>
</div>

<div class="food" id="veg_bowl" data-name="f-2">
<img src="static/img/lunch/veg_bowl.png" alt="Veg Bowl With Rice">
<p> Veg Bowl With<span>S$ 6.20</span> <br>  Rice</p>
</div>

<div class="food" id="chickpeas" data-name="f-3">
<img src="static/img/lunch/chickpeas.png" alt="Chickpeas & Green Beans With Rice">
<p> Chickpeas & Green<span>S$ 6.50</span> <br> Beans With Rice</p>
</div>

<div class="food" id="mushroom_rice" data-name="f-4">
<img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
<p> Glazed Mushroom <span>S$ 5.90</span> <br> With Rice</p>
</div>

<div class="food" id="cauliflower_rice" data-name="f-5">
<img src="static/img/lunch/cauliflower_rice.png" alt="Cauliflower Rice With Spicy Chipotle">
<p> Cauliflower Rice <span>S$ 6.00</span> <br> With Spicy Chipotle</p>
</div>

<div class="food" id="nourish_bowl" data-name="f-6">
<img src="static/img/lunch/nourish_bowl.png" alt="Veggie Nourish Bowl">
<p> Veggie Nourish <span>S$ 5.70</span> <br> Bowl</p>
</div>

<div class="food" id="power_bowl" data-name="f-7">
<img src="static/img/lunch/power_bowl.png" alt="Enchilada Power Bowl With Spicy Tofu">
<p> Enchilada Power  <span>S$ 6.60</span> <br>Bowl With Spicy Tofu</p>
</div>

<div class="food" id="avocado" data-name="f-8">
<img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
<p>Avocado & Sweet  <span>S$ 5.90</span> <br>Potato With Eggs</p>
</div>

<div class="food" id="fried_rice" data-name="f-9">
<img src="static/img/lunch/fried_rice.png" alt="Veg Fried Rice With Mock Meat">
<p>Veg Fried Rice  <span>S$ 5.90</span> <br>With Mock Meat</p>
</div>

    </div>

<!-- codes for previewing food items adding to cart -->
<div class="food-preview">
    <div class="preview active" id="f1" data-target="f-1">
        <img src="static/img/lunch/kale_pasta.png" alt="Pesto Pasta With Kale">
        <button class="btn-close">&times;</button>
        <p class="name">Pesto Pasta With Kale </p>
        <p class="price">S$ 6.60</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f2" data-target="f-2">
        <img src="static/img/lunch/veg_bowl.png" alt="Veg Bowl With Rice">
        <button class="btn-close">&times;</button>
        <p class="name"> Veg Bowl With Rice </p>
        <p class="price">S$ 6.20</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f3" data-target="f-3">
        <img src="static/img/lunch/chickpeas.png" alt="Chickpeas & Green Beans With Rice">
        <button class="btn-close">&times;</button>
        <p class="name">Chickpeas & Green Beans With Rice</p>
        <p class="price">S$ 6.50</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f4" data-target="f-4">
        <img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
        <button class="btn-close">&times;</button>
        <p class="name">Glazed Mushroom With Rice</p>
        <p class="price">S$ 5.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f5" data-target="f-5">
        <img src="static/img/lunch/cauliflower_rice.png" alt="Cauliflower Rice With Spicy Chipotle">
        <button class="btn-close">&times;</button>
        <p class="name">Cauliflower Rice With Spicy Chipotle</p>
        <p class="price">S$ 6.00</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f6" data-target="f-6">
        <img src="static/img/lunch/nourish_bowl.png" alt="Veggie Nourish Bowl">
        <button class="btn-close">&times;</button>
        <p class="name">Veggie Nourish Bowl</p>
        <p class="price">S$ 5.70</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

       <div class="preview active" id="f7" data-target="f-7">
        <img src="static/img/lunch/power_bowl.png" alt="Enchilada Power Bowl With Spicy Tofu">
        <button class="btn-close">&times;</button>
        <p class="name">Enchilada Power Bowl With Spicy Tofu</p>
        <p class="price">S$ 6.60</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
           <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f8" data-target="f-8">
        <img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
        <button class="btn-close">&times;</button>
        <p class="name">Avocado & Sweet Potato With Eggs</p>
        <p class="price">S$ 5.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f9" data-target="f-9">
        <img src="static/img/lunch/fried_rice.png" alt="Veg Fried Rice With Mock Meat">
        <button class="btn-close">&times;</button>
        <p class="name">Veg Fried Rice With Mock Meat</p>
        <p class="price">S$ 5.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>


</div>


{% endblock %}
