
{% extends 'base.html' %}
{% block title %}membershipHome{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/membershipHome.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<br>
<div class="container-contents">
    <div class="container-header-greeting">
        {% if membershipUsername %}
        <h2>Welcome Back <span>{{ membershipUsername[0] }}</span>!</h2>
        {% elif membershipUsername is none %}
         <p>No membership data found for user {{ user_id }}.</p>
        {% endif %}
    </div>
    <div class="terms-container-left">
        <div class="container-membership-status">
            <h3 id="mbrshipStatus">Membership Status:
                    {% if membershipUser %}
                <span class="membershipTier">{{ membershipUser[6] }}</span>
                {% elif membershipUser is none %}
                    <span class="membershipTier">No membership data found for user {{ user_id }}.</span>
                {% endif %}
            </h3>
            <hr>
            <p class="p-css">Your leaf balance</p>
            {% if membershipUser %}
            <p class="large-text"><span class="TotalEarned">{{ membershipUser[2] }}<img src="static/img/membership/leaf.png" class="leaf-icon"></span>Leaves Earned</p>
            {% elif membershipUser is none %}
            <p>No membership data found for user {{ user_id }}.</p>
            {% endif %}
            <!--if they earn <=300 within 1 year-->
            {% if membershipUser[6] == 'Seed' %}
                        <progress class="progress-bar" value="{{progress}}" max="100"> </progress>
            <br>
            <p class="p-css">Need {{ toNextTier }} points to upgrade to next tier!</p>
            {% elif membershipUser[6] == 'Sprout' %}
                        <progress class="progress-bar" value="{{progress}}" max="300"> </progress>
            <br>
            <p class="p-css">Need {{ toNextTier }} points to upgrade to next tier!</p>
            {% elif membershipUser[6] == 'Bloom' %}
                        <progress class="progress-bar" value="{{progress}}" max="300"> </progress>
            <br>
            <p class="p-css">Congrats, Bloom tier extended!</p>
            {% elif membershipUser is none %}
            <p>{{ membershipUser[6] }} Extended for 1 Year After <span>{{ membershipUser[3] }}</span>!</p>
            <p>No membership data found for user {{ user_id }}.</p>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <button class="membership-tier-benefits">
                <a href="/membershipTiers" class="membershipBenefits">View Membership Benefits</a>
            </button>
        </div>
        <br>
        <br>
        <br>
        <button class="settings">
                {% if membershipUser %}
                <a href="/retrieveMembership/{{ membershipUser[0] }}" class="link-settings">Go to Membership Settings</a>
                {% elif membershipUser is none %}
                 <p>No membership data found for user {{ user_id }}.</p>
                {% endif %}
        </button>
        <br>

    </div>
    <div class="terms-container-right">
        <div class="container-membership-balance">
            <div class="balance-text-container">
          {% if membershipUser %}
                <h3>Current Leaf Balance: <span id="currentBalance"><span id="currentBalance-fetch">{{ membershipUser[1]}} </span></span></h3>
                <hr>
              <p class="p-css">Leaves Available For Redemption</p>
              <p><span>{{membershipUser[1]}} Leave(s) Will Expire 1 Year after {{ membershipUser[3] }}</span></p>
              {% elif membershipUser is none %}
             <p class="p-css">No membership data found for user {{ user_id }}.</p>
        {% endif %}
            </div>
            <!--button needs to go within container-mbrship-balance, beside text-->
                <button class="redemption-shop-button">
                    {% if membershipUser %}
                    <a id="redeemRewards" href="/redeemRewards/{{ membershipUser[0] }}">Redeem Points</a>
                    {% elif membershipUser is none %}
                        <p>No membership data found for user {{ user_id }}.</p>
                    {% endif %}
                </button>
        </div>
        <br>
        <div class="container-membership-details">
            <h3>Reward Membership Details</h3>
            <div class="membership-details-box">
                    <div class="mbrship-details-words1">
                    <a href="/membershipRewardHist" class="membership-details">View Rewards History</a>
                    <img src="/static/img/membership/rightArrow.png" alt="arrow png" class="arrow-icon">
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="mbrship-details-words2">
                        <a href="/membershipTerms" class="membership-details">Terms And Conditions</a>
                    <img src="/static/img/membership/rightArrow.png" alt="arrow png" class="arrow-icon">
                    </div>
                    <hr>
                    <div class="mbrship-details-words3">
                        <a href="/membershipTiers" class="membership-details">View Membership Tiers</a>
                    <img src="/static/img/membership/rightArrow.png" alt="arrow png" class="arrow-icon">
                    </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

{% endblock %}