
{% extends 'base.html' %}
{% block title %}membershipHome{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/membershipHome.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<br>
<br>
<div class="container-h1-image">
    <h1 id="h1-image-title">Membership</h1>
</div>

<br>
    <div class="container-header-greeting">
        {% if membershipUsername %}
        <h2>Welcome Back <span>{{ membershipUsername[0] }}</span>!</h2>
        {% elif membershipUsername is none %}
         <p>No membership data found for user {{ user_id }}.</p>
        {% endif %}
    </div>

    <div class="container-contents-left">
        <div class="container-membership-status">
            <h3>Membership Status:</h3>
            <p class="membershipTier">*Insert Tier*</p>
            {% if membershipUser %}
            <p><span class="TotalEarned">{{ membershipUser[2] }}<img src="static/img/membership/leaf.png" class="leaf-icon"></span>Leaves Earned</p>
            {% elif membershipUser is none %}
            <p>No membership data found for user {{ user_id }}.</p>
            {% endif %}
            <div id="membership-progress-bar">
                *insert progress bar*
            </div>
            <!--if they earn >=300 within 1 year as Bloom-->
            {% if membershipUser %}
            <p>*Membership Tier* Extended for 1 Year After <span>{{ membershipUser[3] }}</span>!</p>
            {% elif membershipUser is none %}
            <p>No membership data found for user {{ user_id }}.</p>
            {% endif %}
            <!--if they earn <=300 within 1 year-->
            <p>Need *points needed maintain* points to upgrade to next tier!</p>

            <button class="membership-tier-benefits">
                <a href="/membershipTiers" class="membershipBenefits">View Membership Benefits</a>
            </button>
        </div>

        <br>

        <div class="container-membership-details">
            <h3>Reward Membership Details</h3>
            <div class="membership-details-box">
                <a href="/membershipRewardHist" class="membership-details">View Rewards History</a>
                <!--image of arrow-->
                <br>
                <a href="/membershipTerms" class="membership-details">Terms And Conditions</a>
                <!--image of arrow-->
                <br>
                <a href="/membershipTiers" class="membership-details">View Membership Tiers</a>
                <!--image of arrow-->
            </div>
            <br>
            <div class="settings">
                {% if membershipUser %}
                <a href="/retrieveMembership/{{ membershipUser[0] }}">Go to Membership Settings</a>
                {% elif membershipUser is none %}
                 <p>No membership data found for user {{ user_id }}.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-contents-right">
        <div class="container-membership-balance">
            <div class="balance-text-container">
                <h3>Current Leaf Balance:</h3>
          {% if membershipUser %}
              <p>{{membershipUser[1]}} <img src="static/img/membership/leaf.png" class="leaf-icon"></p>
              <p>Leaves Available For Redemption</p>
              <p><span>{{membershipUser[1]}} Leave(s) Will Expire On *Joining date+1yr*</span></p>
              {% elif membershipUser is none %}
             <p>No membership data found for user {{ user_id }}.</p>
        {% endif %}
            </div>
            <!--button needs to go within container-mbrship-balance, beside text-->
            <div class="Redemption-Shop-container">
                <p class="redemption-shop-button">
                    {% if membershipUser %}
                    <a id="redeemRewards" href="/redeemRewards/{{ membershipUser[0] }}">Redeem Points</a>
                    {% elif membershipUser is none %}
                        <p>No membership data found for user {{ user_id }}.</p>
                    {% endif %}
                </p>
            </div>
        </div>

        <br>
        </div>
    </div>

{% endblock %}