{% extends 'base.html' %}
{% block title %}Recommended{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommended.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
<script src="{{ url_for('static', filename='javascript/recommended.js') }}" defer></script>


<div class="container-h1">
<h1>Recommended</h1>
</div>

<div class="food-container">

<div class="food" id="burrata" data-name="f-1">
<img src="static/img/appetizer/Burrata.png" alt="Burrata With Cherries and Sumac">
<p>Burrata With <span>S$ 4.90</span><br>
    Cherries & Sumac </p>
</div>

<div class="food" id="crostini" data-name="f-2">
<img src="static/img/appetizer/crostini.png" alt="Peach Crostini">
<p> Peach Crostini <span>S$ 5.20</span> </p>
</div>

<div class="food" id="roasted_veggie" data-name="f-3">
    <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
    <p>Egg & Roasted <span>S$ 6.90</span> <br> Veggie Salad </p>
</div>

<div class="food" id="blue_pancake" data-name="f-4">
    <img src="static/img/breakfast/blueberry_pancake.png" alt="Banana & Blueberry Pancakes">
    <p>Banana & Blueberry <span>S$ 6.00</span> <br> Pancakes </p>
</div>

<div class="food" id="mushroom_rice" data-name="f-5">
<img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
<p> Glazed Mushroom <span>S$ 5.90</span> <br> With Rice</p>
</div>

<div class="food" id="avocado" data-name="f-6">
<img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
<p>Avocado & Sweet  <span>S$ 5.90</span> <br>Potato With Eggs</p>
</div>

<div class="food" id="chickpeas" data-name="f-7">
<img src="static/img/dinner/chickpeas.png" alt="Rice With Maple Sriracha Chickpeas & Broccoli">
<p>Rice With Maple  <span>S$ 5.10</span> <br>Sriracha Chickpeas & Broccoli</p>
</div>

<div class="food" id="miso_mushroom" data-name="f-8">
<img src="static/img/dinner/miso_mushroom.png" alt="Miso Mushroom Bowl">
<p>Miso Mushroom Bowl <span>S$ 4.90</span> </p>
</div>

<div class="food" id="vanilla_panna_cotta" data-name="f-9">
<img src="static/img/dessert/vanilla_panna_cotta.png" alt="Classic Vanilla Panna Cotta">
<p>Classic Vanilla <span>S$ 4.00</span><br>Panna Cotta </p>
</div>

<div class="food" id="butterfly_pea_flower" data-name="f-10">
<img src="static/img/dessert/butterfly_pea_flower.png" alt="Butterfly Pea Flower Pudding">
<p>Butterfly Pea <span>S$ 4.60</span><br>Flower Pudding </p>
</div>
</div>

<!-- codes for previewing food items description and having to add to cart feature -->
<div class="food-preview">
    <div class="preview active" data-target="f-1" data-name="i-1">
        <img src="static/img/appetizer/Burrata.png" alt="Burrata With Cherries and Sumac">
        <button class="btn-close">&times;</button>
        <p class="name">Burrata With Cherries & Sumac </p>
        <p class="price">S$ 4.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>
        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f2" data-target="f-2" data-name="i-2">
        <img src="static/img/appetizer/crostini.png" alt="Peach Crostini">
        <button class="btn-close">&times;</button>
        <p class="name"> Peach Crostini </p>
        <p class="price">S$ 5.20</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f3" data-target="f-3" data-name="i-3">
        <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
        <button class="btn-close">&times;</button>
        <p class="name">Egg & Roasted Veggie Salad</p>
        <p class="price">S$ 6.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>


    </div>

    <div class="preview active" id="f4" data-target="f-4" data-name="i-4">
        <div>
        <img src="static/img/breakfast/blueberry_pancake.png" alt="Banana & Blueberry Pancakes">
        <button class="btn-close">&times;</button>
        <p class="name">Banana & Blueberry Pancakes</p>
        <p class="price">S$ 6.00</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f5" data-target="f-5" data-name="i-5">
        <img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
        <button class="btn-close">&times;</button>
        <p class="name">Glazed Mushroom With Rice</p>
        <p class="price">S$ 5.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f6" data-target="f-6" data-name="i-6">
        <img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
        <button class="btn-close">&times;</button>
        <p class="name">Avocado & Sweet Potato With Eggs</p>
        <p class="price">S$ 5.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

       <div class="preview active" id="f7" data-target="f-7" data-name="i-7">
        <img src="static/img/dinner/chickpeas.png" alt="Rice With Maple Sriracha Chickpeas & Broccoli">
        <button class="btn-close">&times;</button>
        <p class="name">Rice With Maple Sriracha Chickpeas & Broccoli</p>
        <p class="price">S$ 5.10</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
           <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f8" data-target="f-8" data-name="i-8">
        <img src="static/img/dinner/miso_mushroom.png" alt="Miso Mushroom Bowl">
        <button class="btn-close">&times;</button>
        <p class="name">Miso Mushroom Bowl</p>
        <p class="price">S$ 4.90</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f9" data-target="f-9" data-name="i-9">
        <img src="static/img/dessert/vanilla_panna_cotta.png" alt="Classic Vanilla Panna Cotta">
        <button class="btn-close">&times;</button>
        <p class="name">Classic Vanilla Panna Cotta</p>
        <p class="price">S$ 4.00</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <div class="preview active" id="f10" data-target="f-10" data-name="i-10">
        <img src="static/img/dessert/butterfly_pea_flower.png" alt="Butterfly Pea Flower Pudding">
        <button class="btn-close">&times;</button>
        <p class="name">Butterfly Pea Flower Pudding</p>
        <p class="price">S$ 4.60</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>
        <i class="fa-regular fa-star"></i>

        <div class="buttons">
            <button class="reduce">-</button> <p class="number">1</p> <button class="increase">+</button>
            <button class="cart">Add To Cart</button>
        </div>

    </div>

    <!-- codes for previewing food items ingredients sources -->
<div class="info-preview">
    <div class="info active"  data-target="i-1">
        <img src="static/img/appetizer/Burrata.png" alt="Burrata With Cherries and Sumac">
        <button class="btn-close">&times;</button>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i2"  data-target="i-2">
        <img src="static/img/appetizer/crostini.png" alt="Peach Crostini">
        <button class="btn-close">&times;</button>
        <p class="name"> Peach Crostini </p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i3" data-target="i-3">
        <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
        <button class="btn-close">&times;</button>
        <p class="name">Egg & Roasted Veggie Salad</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i4" data-target="i-4">
        <img src="static/img/breakfast/blueberry_pancake.png" alt="Banana & Blueberry Pancakes">
        <button class="btn-close">&times;</button>
        <p class="name">Banana & Blueberry Pancakes</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i5" data-target="i-5">
        <img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
        <button class="btn-close">&times;</button>
        <p class="name">Glazed Mushroom With Rice</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i6"  data-target="i-6">
        <img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
        <button class="btn-close">&times;</button>
        <p class="name">Avocado & Sweet Potato With Eggs</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

       <div class="info active" id="i7"  data-target="i-7">
        <img src="static/img/dinner/chickpeas.png" alt="Rice With Maple Sriracha Chickpeas & Broccoli">
        <button class="btn-close">&times;</button>
        <p class="name">Rice With Maple Sriracha Chickpeas & Broccoli</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>

        </div>



    <div class="info active" id="i8" data-target="i-8">
        <img src="static/img/dinner/miso_mushroom.png" alt="Miso Mushroom Bowl">
        <button class="btn-close">&times;</button>
        <p class="name">Miso Mushroom Bowl</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>

    </div>

    <div class="info active" id="i9" data-target="i-9">
        <img src="static/img/dessert/vanilla_panna_cotta.png" alt="Classic Vanilla Panna Cotta">
        <button class="btn-close">&times;</button>
        <p class="name">Classic Vanilla Panna Cotta</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>


    </div>

    <div class="info active" id="i10" data-target="i-10">
        <img src="static/img/dessert/butterfly_pea_flower.png" alt="Butterfly Pea Flower Pudding">
        <button class="btn-close">&times;</button>
        <p class="name">Butterfly Pea Flower Pudding</p>
        <p>A delectable blend of freshly grown oven-roasted vegetables,<br>
            impeccably cooked eggs and 2 slices of fresh avocado.</p>

        </div>

    </div>


{% endblock %}
