{% extends 'base.html' %}
{% block title %}Recommended{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommended.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Recommended</h1>
</div>

{% endblock %}
