{% extends 'base.html' %}
{% block title %}Recommended{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommended.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

<div class="container-h1">
<h1>Recommended</h1>
</div>

<div class="burrata">
<img src="static/img/appetizer/Burrata.png" alt="Burrata With Cherries and Sumac">
<p>Burrata With <span>S$ 4.90</span><br>
    Cherries and Sumac </p>
</div>

<div class="crostini">
<img src="static/img/appetizer/crostini.png" alt="Peach Crostini">
<p> Peach Crostini <span>S$ 5.20</span> </p>
</div>

<div class="roasted_veggie">
    <img src="static/img/breakfast/roasted_veggie.png" alt="Egg & Roasted Veggie Salad">
    <p>Egg & Roasted <span>S$ 6.90</span> <br> Veggie Salad </p>
</div>

<div class="blue_pancake">
    <img src="static/img/breakfast/blueberry_pancake.png" alt="Banana & Blueberry Pancakes">
    <p>Banana & Blueberry <span>S$ 6.00</span> <br> Pancakes </p>
</div>

<div class="mushroom_rice">
<img src="static/img/lunch/mushroom_rice.png" alt="Glazed Mushroom With Rice">
<p> Glazed Mushroom <span>S$ 5.90</span> <br> With Rice</p>
</div>

<div class="avocado">
<img src="static/img/lunch/avocado.png" alt="Avocado & Sweet Potato With Eggs">
<p>Avocado & Sweet  <span>S$ 5.90</span> <br>Potato With Eggs</p>
</div>

<div class="chickpeas">
<img src="static/img/dinner/chickpeas.png" alt="Rice With Maple Sriracha Chickpeas & Broccoli">
<p>Rice With Maple  <span>S$ 5.10</span> <br>Sriracha Chickpeas & Broccoli</p>
</div>

<div class="miso_mushroom">
<img src="static/img/dinner/miso_mushroom.png" alt="Miso Mushroom Bowl">
<p>Miso Mushroom Bowl <span>S$ 4.90</span> </p>
</div>

<div class="vanilla_panna_cotta">
<img src="static/img/dessert/vanilla_panna_cotta.png" alt="Classic Vanilla Panna Cotta">
<p>Classic Vanilla <span>S$ 4.00</span><br>Panna Cotta </p>
</div>

<div class="butterfly_pea_flower">
<img src="static/img/dessert/butterfly_pea_flower.png" alt="Butterfly Pea Flower Pudding">
<p>Butterfly Pea <span>S$ 4.60</span><br>Flower Pudding </p>
</div>


{% endblock %}
