{% extends "baseAdmin.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/_navbarAdmin.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet">

<br>

<body>

<div class="main">


    <div class="mainBody">
        <p>dasshboard</p>
        <h2>mainBody</h2>


        <h1>Report</h1>
        <div>
            <h2>Product Prices Chart</h2>
            <img src="{{ chart_path }}" alt="Product Prices Chart">
        </div>

    </div>


</div>

</body>


{% endblock %}