{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
    .mb-3 .form-control{
        display: inline-block;
        width: 300px;

    }

    .mb-3 .btn-primary{
        display: inline-block;
        margin-left: 30px;

    }

    .product-count{
        font-weight: bolder;

    }


</style>


<!-- retrieve products and delete -->
<h1 class="display-4">Products List</h1>
<form method="get" action="{{ url_for('retrieve_product') }}" class="mb-3">
    {{ search_form.search_query(class="form-control") }}
    {{ search_form.submit(class="btn btn-primary") }}

</form>



<div class="product-count">
  {% if count == 0 %}
  <p>There are no products.</p>
  {% elif count == 1 %}
  <p>There is 1 product.</p>
  {% else %}
  <p>There are {{ count }} products.</p>
  {% endif %}
</div>

<a href="/create_product" class="btn btn-warning">Create Product</a>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price (S$)</th>
        <th>Category</th>
          <th>Image</th>
          <th>Description</th>
          <th>Ingredients Info</th>
          <th>Actions</th>

      </tr>
    </thead>
   <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.get_product_id() }}</td>
            <td>{{ product.get_name() }}</td>
            <td>{{ product.get_price() }}</td>
            <td>{{ product.get_category() }}</td>
            <td>
    {% if product.get_image() %}
              <img src="{{ url_for('static', filename='img/' + product.get_image()) }}" alt="{{ product.get_name() }}" width="100" height="100">
            {% else %}
              No Image
            {% endif %}
</td>
            <td>{{ product.get_description() }}</td>
            <td>{{ product.get_ingredients_info() }}</td>

            <td><a href="{{ url_for('update_product', id=product.get_product_id()) }}" class="btn btn-warning">Update</a></td>

            <td>
            <form action="{{url_for('delete_product', id=product.get_product_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{product.get_name()}} {{product.get_price()}}?');">-->

                <!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_product_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{product.get_product_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{product.get_name()}} S${{product.get_price()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
 </table>
</div>



<a href="#top" class="btn btn-warning" >Go Top</a>


{% endblock %}
