{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Feedback </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for reviews in reviews %}
            <td>{{ reviews[0] }}</td>
            <td>{{ reviews[1] }}</td>
            <td>{{ reviews[2] }}</td>
            <td><a href="/updateReviews/{{review.get_user_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_reviews', id=review.get_user_id())}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}