{% extends 'base.html' %}
{% block title %}Retrieve Rewards{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Rewards.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

    <h1 class="display-4">Retrieve Rewards Details</h1>
<div>
    {% if count == 0 %}
    <p>There are no rewards.</p>
    {% elif count == 1 %}
    <p>There is 1 reward.</p>
    {% else %}
    <p>There are {{ count }} rewards.</p>
    {% endif %}
</div>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Reward Name</th>
            <th>Reward Value</th>
            <th>Reward Type</th>

        </tr>
        </thead>
        <tbody>
        {% for reward in rewards %}
        <tr>
            <td>{{ reward[0] }}</td>
            <td>{{ reward[1] }}</td>
            <td>{{ reward[2] }}</td>
            <td>{{ reward[3] }}</td>

            <td><a href="/updateReward/{{ reward[0] }}" class="actionButton"><i  class="fa-solid fa-pen-to-square"></i></a></td>
            <td><a href="/deleteReward/{{ reward[0] }}" class="actionButton"><i  class="fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

