{% extends 'baseAdmin.html' %}
{% block title %} Retrieve Membership Admin{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/retrieveMembershipsAdmin.css') }}">

<script src="https://kit.fontawesome.com/ea5763dd29.js" crossorigin="anonymous"></script>
<p>Retrieve Memberships page</p>

<div class="mainBody">
    <!DOCTYPE html>
<html>
<head>
    <title>Retrieve Membership Details</title>
</head>
<body>
<h1>Memberships List</h1>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Current Balance</th>
                <th scope="col">Total Balance</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Tier</th>
                <th scope="col">Newsletter</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for membership in memberships %}
            <tr>
            <th scope="row">{{  membership[0]  }} </th>
                <td>{{ membership[1] }}</td>
                <td>{{ membership[2] }}</td>
                <td>{{ membership[3] }}</td>
                <td>{{ membership[4] }}</td>
                <td>{{ membership[5] }}</td>
                <td>{{ membership[6] }}</td>
                <td>{{ membership[7] }}</td>
                <td><a href="/deleteMembership/{{ membership[0] }}" class="actionButton"><i  class="fa-solid fa-trash"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>

</div>

{% endblock %}

