{% extends 'base.html' %}
{% block title %}Retrieve Membership Details{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/retrieveMembership.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Nova+Square&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

    <h1 class="display-4">Your Membership Details</h1>

    <div class="membership-box">
        <div class="membership-container">

            {% for membership in membershipUser %}
            <div class="membership">
                <p>Your Membership ID: {{ membership[0] }}</p>
                <p>Your Current Membership Balance: {{ membership[1] }}</p>
                <p>Your Total Membership Balance: {{ membership[2] }}</p>
                <p>Your Joining Date: {{ membership[3] }}</p>
                <p>Your Birthday: {{ membership[4] }}</p>
                <p>Your Phone Number: {{ membership[5] }}</p>
                <p>Your Membership Tier: {{ membership[6] }}</p>
                <p>Signed Up For Newsletters (Yes/No): {{ membership[7] }}</p>
                <div class="actionButtons">
                    <p>
                        <a href="/updateMembership/{{ membership[0] }}" class="actionButton"><i  class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/deleteMembership/{{ membership[0] }}" class="actionButton"><i  class="fa-solid fa-trash"></i></a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}