{% extends 'base.html' %}
{% block title %}reviews{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css')}}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
<a href="recentRetrieves">Recent retrieves</a>

<div class="section_container">
    <div class="header">
        <p>FEEDBACKS</p>
        <h1>What Our Customers Says About Us</h1>
    </div>
    <div class="feedback_grid">
        <div class="card">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
            EcoEats captivated my senses with its impeccable blend of ambiance, service and culinary mastery.
            The chef’s dedication to quality ingredients and the attentive staff makes this restaurant a must-visit!
            I also loved the idea of sustainability!
            </p>
            <div class="star1">
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
            </div>
            <hr>
            <img src="static/img/pic1.jpg" alt="icon1" class="icon1">
            <p class="name">Alan Collins</p>
        </div>
        <div class="card">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
            EcoEats is not just a dining establishment; it's a testament to sustainable gastronomy done right.
            From the moment you step inside, the commitment to Eco-friendly practices is evident, with recycled decor and an
            ambiance that reflects the restaurant's dedication to the planet.
            </p>
            <div class="star2">
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
            </div>
            <hr>
            <img src="static/img/pic2.jpg" alt="icon2" class="icon2">
            <p class="name">Clint Matt</p>
        </div>
        <div class="card">
            <span><i class="ri-double-quotes-l"></i></span>
            <p>
            This restaurant stands out with its commitment to sustainability, serving delicious meals crafted from Eco-friendly ingredients.
            The menu's green ethos, combined with a cozy atmosphere, makes it a guilt-free and delightful dining experience!
            </p>
            <div class="star3">
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
                <span class="checked">&#9733;</span>
            </div>
            <hr>
            <img src="static/img/pic3.jpg" alt="icon3" class="icon3">
            <p class="name">Novaria A.</p>
        </div>
        <div class="footer">
            <h4>Leave A Review!</h4>
            <p>Your feedback is our compass, guiding us to excellence. <br> Share your experience with us by leaving a review. </p>
        </div>
        <div class="add-review">
            <a href="createReviews" class="button">Feedback To Us</a>
        </div>
    </div>
</div>

{%endblock%}
