{% extends 'base.html' %}
{% block title %}reviews{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css')}}">

<div class="hyperlink">
    <a href="createReviews">Create Reviews</a>
    <a href="retrieveReviews">Retrieve Reviews</a>
    <a href="star">Star</a>
</div>

<div class="rectangle1"></div>
<div class="rectangle2"></div>
<div class="circle1"></div>

<div class="star-rating">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
</div>
{% endblock %}